// Colors
$Active-input-border: #600594;
$Red-error: #ff5252;
$White-hsl: #ffffff;
$Light-grayish-violet: #dedddf;
$Dark-grayish-violet: #8e8593;
$Very-dark-violet: #21092f;

// Font family
$ff-dpaceGrotesk: "Space Grotesk", monospace;
