* {
  box-sizing: border-box;
  font-family: $ff-dpaceGrotesk;
  font-weight: 500;
}

body {
  font-weight: 500;
  font-size: 18px;
}

.ReactiveCard {
  &__Container {
    display: flex;
    flex-direction: column;

    @media (min-width: 1440px) {
      flex-direction: row;
    }
  }
  &__FormContainer {
    width: 100%;
  }
}

.MadeBy {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $Active-input-border;
  font-size: 14px;
  text-shadow: 0 10px 10px $Active-input-border-gradient;
  background: $Active-input-border-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 1px $Red-error);
}
